.chat{
    flex: 0.7;
    display: flex;
    flex-direction: column;
}

.chat__header{
    display: flex;
    padding: 15px;
    align-items: center;
    border-bottom: 1px solid #565353;
}

.chat__headerInfo{
    flex: 1;
    padding-left: 20px;
}

.chat__headerInfo > h3 {
    margin-bottom: 3px;
    font-weight: 500;
}

.chat__headerRight{
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}

.chat__body{
    flex: 1;
    padding: 30px;
    overflow: scroll;
}

.chat__body::-webkit-scrollbar {
    display: none;
}

.chat__message{
    /* position: relative; */
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    background-color: #4d4d4d;
    width: fit-content;
    margin-bottom: 20px;
    color: #fffdfd;
    display: flex;
    flex-direction: column;

    max-width: 50%; 
    word-break: break-all;
}

.chat__messageInfo{
    display: flex;
    justify-content: space-between;
}

.chat__name{
    font-weight: 600;
    font-size: x-small;
    color: #d0cbcbcc;
}

.chat__timestamp{
    margin-left: 10px;
    font-size: x-small;
    color: #d0cbcbcc;
}

.chat__receiver{
    margin-left: auto;
    background-color: #3d3853;
}

.chat__footer{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    height: 80px;
}

.chat__footerIcons{
    display: flex;
    justify-content: space-between;
}

.chat__footerExtra{
    display: flex;
    flex: 0.15;
    justify-content: space-between;
}

.chat__footer>form{
    display: flex;
    justify-content: space-between;
}

.chat__footer>form>input{
    flex: 1;
    background-color: #282222;
    opacity: 0.8;
    border: none;
    color: #D2D2D2;
    padding: 5px;
}

.chat__footer>form>button{
    display: none;
}

@media screen and (max-width: 300px) {

    .chat{
        flex: 1;
    }

    .chat__header{
        display: none;
    }
    
    .chat__message{
        max-width: 75%;
    }
}